@media (min-width: 1366px) {
    
}

@media (min-width: 1200px) and (max-width: 1365px) {
   
}

@media (min-width: 992px) and (max-width: 1199px) { /* md */
   
}

@media (min-width: 768px) and (max-width: 992px) { /* sm */
  
}

@media (min-width: 480px) and (max-width:767px) {
    .box-search{
        width: 100%;
        padding: 0;
    }
    .flex-container .item-product{
        width: 50%;
    }
}

@media only screen and (min-width: 240px) and (max-width: 480px) { /* xs */
    .box-search{
        width: 100%;
        padding: 0;
    }
    .flex-container .item-product{
        width: 50%;
    }
}
